{% extends 'lab/base.html' %}

{% block title %}
    Список преподавателей
{% endblock %}

{% block content %}

    <div class = 'container'>
        <div class = 'row'>

            <div class = 'col s12'>
                <h5>Список преподавателей</h5>
                <a href = "{% url 'teacher-add' %}" class = 'waves-effect waves-light btn-flat right'>
                    Добавить
                </a>
            </div>

            <div class = 'col s12'>
                <table class = 'highlight'>
                    <tr>
                        <th>
                            Номер ИСУ
                        </th>
                        <th>
                            ФИО
                        </th>
                        <th>
                            Изменение
                        </th>
                        <th>
                            Удаление
                        </th>
                    </tr>

                    {% for teacher in teachers %}

                        <tr>
                            <td>
                                {{ teacher.teacher_id }}
                            </td>
                            <td>
                                {{ teacher.last_name|add:" "|add:teacher.first_name|add:" "|add:teacher.middle_name }}
                            </td>
                            <td>
                                <a href = "{% url 'teacher-edit' teacher.teacher_id %}">
                                    Изменить
                                </a>
                            </td>
                            <td>
                                <a href = "{% url 'teacher-delete' teacher.teacher_id %}">
                                    Удалить
                                </a>
                            </td>
                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

{% endblock %}